body{
margin:0;background-repeat:no-repeat;text-align: center;background-color: cornflowerblue;}

.image{
 height:300px;width:300px;border:3px solid black;margin-bottom:55px;border-radius:50%;}

#intro{
padding:17px;font-size:25px;text-align:center;background:linear-gradient(#9400D3	10%,#8A2BE2	30%,		#DDA0DD 50%,#23ACCD 100%);width:100%;font-family: 'Dancing Script', cursive;}
h1{
text-shadow:3px 3px black;font-weight:bold;color:white;}
#para{
text-align:center;background:linear-gradient(#23ACCD	10%,#00CED1	30%,	#00BFFF 50%, #1E90FF 100%);width:100%;}

p{
font-size:25px;line-height:1.5;max-width: 800px;margin:0px auto;}

.line{
 background-color:black;width:200px;margin:3px auto ;height:5px;}

.menu{
position: fixed;cursor: pointer;z-index: 10;top:0px;list-style: none;margin-top:0px;width:100%;}

.list{
padding-left: 10px;padding-right: 10px;font-size: 20px;color:yellow;font-weight:bold;display:inline;}

.list:hover{
background-color: yellow;font-size: 25px;}

.website:hover{
background-color: gold;font-size: 25px;}

iframe{
    width: 900px}
html{
scroll-behavior: smooth;}

#peter{
 width:300px;height:300px;border: solid 5px gold;border-radius:15px;}
img{
transition: transform .3s;}
img:hover{
transform: scale(0.9)   
    
}
.contact1 h3{
 display:inline   
    
}
.contact1 a{
 text-decoration: none !important;     
    
}

.website{
 text-decoration: none;}

#contact{
 background-color: aqua;   
    
}